---

name: Create and publish container image

on:
  push:
    tags:
      - 'v**'
  workflow_dispatch:
  schedule:
    - cron: '25 17 * * 2'  # Weekly update

env:
  IMAGE_NAME: roonserver
  BASE_IMAGE_DOCKERFILE: ./Dockerfile
  DOCKERHUB_USERNAME: jonathont

jobs:

  check:
    runs-on: ubuntu-latest

    outputs:
      differs: ${{ steps.check.outputs.differs }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set base image
        id: set-base
        run: |
          echo "base_image=$(grep 'FROM' ${{ env.BASE_IMAGE_DOCKERFILE }} | awk '{print $2}')" >> "$GITHUB_OUTPUT"

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Check if update available
        id: check
        uses: ClementTsang/docker-check-base-image-diff@d8cf79d3bcda38fab44bc8c9afa60c4b3dee23de
        with:
          base-image: docker://${{ steps.set-base.outputs.base_image }}
          derived-image: docker://${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}
        if: ${{ github.event_name == 'schedule' }}

  publish:
    needs: check
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    # When invoked by schedule, only build if the base image is out of date
    if: ${{ needs.check.outputs.differs == 'true' || github.event_name != 'schedule' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Dockerhub registry
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for container
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Build and push container image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: |
            ${{ steps.meta.outputs.tags }}
            ${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
          labels: ${{ steps.meta.outputs.labels }}
